.vscode
/build/dakaraserver
/build/Makefile
/build/dat/Names.dat
/build/dat/apuestas.dat
/build/dat/SecurityIp.dat
/build/Charfile/
/build/WorldBackup/
/build/foros/
/build/CMakeFiles/
/build/logs/
/build/CMakeCache.txt
.project
.cproject
.settings
bin
Debug
Release
buildsettingslocal.py
*.pyc
server-resources
*.swp
vc2015

